
.logo-font {
  font-family: 'Exo 2', sans-serif;
}

.text-default {
  color: #7db613;
}

.elr {
  color: #7db613; /*31,73,125 Bernard MT Condensed*/
}
.elrs {
  color: rgb(196,188,150);
}
.elrs-inverse {
  color: #777;
}
.elrs-light {
  color: rgba(255,255,255, 0.7);
}

.oxigenio-font-darc {
  color: #4d6e0e;
}

.oxigenio-font-default {
  color: #7db613;
}
.oxigenio-font-reverse {
  color: rgba(255,255,255, 0.7);
}

.whatsappButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  z-index: 999;
  bottom: 8px;
  right: 8px;
  height: 60px;
  min-width: 60px;
  max-width: 95vw;
  background: #25d366;
  color: inherit;
  border-radius: 30px;
  box-shadow: 1px 6px 24px 0 rgba(7,94,84,.24);
  cursor: pointer;
  transition: background .2s linear;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  will-change: background-color,width;
  position: fixed;
  margin-right: 50px;
  margin-bottom: -3px;
}


@media screen and (max-width: 576px) and (orientation: portrait) {
  .font-mobille-slider-sm {
    font-size: 15px !important;
  }

  .font-mobille-slider-md {
    font-size: 17px !important;
  }

  .font-mobille-slider-lg {
    font-size: 20px !important;
  }

  .font-mobille-slider-xl {
    font-size: 30px !important;
  }

  .whatsappButton {
    bottom: 8px;
    right: 8px;
    height: 42px;
    min-width: 42px;
    margin-right: 40px;
    margin-bottom: -3px;
    font-size: 6px !important;
  }

  .whatsappButton i {
    font-size: 27px !important;
  }
}



@media screen and (max-width: 576px) and (orientation: landscape) {
  
}


